.user-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  height: 100vh;

  border: 1px solid #ddd;
  border-radius: 4px;
  background-color:  #f16666;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
}
.Left{
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  height: 600px;
  width: 600px;
}
.Reght{
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  height: 600px;
  width: 600px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.user-details {
  margin-left: 1rem;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.user-details h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.portfolio-summary {
  margin-bottom: 2rem;
}

.portfolio-summary h2 {
  margin-bottom: 1rem;
}

.portfolio-summary ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-summary li {
  margin-bottom: 0.5rem;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons button {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #252525;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.action-buttons button:hover {
  background-color: #444;
}
