.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 5px solid #dcf2fb;
  border-radius: 4px;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 2rem;
}
.Top {
  display: flex;
  flex-direction: column;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-picture {
  width: 231px;
  height: 231px;
  border-radius: 10%;
  object-fit: scale-down;
}

.user-details h2 {
  color: #7ecfef;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

.cngbutton {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #dcf2fb;
  color: black;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
}

.action-buttons button:hover,
.action-buttons button:active {
  background-color: #444;
}
input[type="text"] {
  margin-top: 5px;
  width: 335px;
  height: 52px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

.popUpBox {
  position: absolute;
  width: 90vw;
  right: 4.6rem;
  height: 16rem;
  z-index: 100;
  border: 1px;
}
.closePopup {
  position: relative;
  width: 3rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  border: 0;
  left: 79vw;
  top:42vh;
  margin: 1rem 2rem;
}
.closed {
  display: none;
}
.backdrop {
  position: fixed;
  z-index: 10;
  background-color: black;
  height: 100vh;
  width: 98vw;
  opacity: 80%;
}
.Logoutbutton{
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: #f95252;
  color: black;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
}
.ancor{
  text-decoration: none;
  color: black;
}